<div class="row">
	<div class="col-12 col-md-4"
		*ngFor="let chapter of chapterData">
		<app-chapter-card [chapter]="chapter"
			(chapterChanges)="chapterChanges($event)"></app-chapter-card>
	</div>
</div>
