@font-face {
	font-family: 'LPMQ';
	src: url('./LPMQ.ttf') format('opentype');
}

@font-face {
	font-family: 'meQuran';
	src: url('./me_quran.ttf') format('opentype');
}

@font-face {
	font-family: 'scheherazadeRegOT';
	src: url('./ScheherazadeRegOT.ttf') format('opentype');
}

@font-face {
	font-family: 'quranfont';
	src: url('./pdms-saleem-quranfont.ttf') format('opentype');
}

@font-face {
	font-family: 'uthmanic';
	src: url('./UthmanicHafs1-Ver09.otf') format('opentype');
}

.font-arab {
	font-family: 'LPMQ';
}

.font-quran {
	font-family: 'meQuran';
}

.font-quran2 {
	font-family: 'quranfont';
}

.font-uthmanic {
	font-family: 'uthmanic';
}

.font-reg-ot {
	font-family: 'scheherazadeRegOT';
}
