<div infinite-scroll
	[infiniteScrollDistance]="scrollDistance"
	[infiniteScrollUpDistance]="scrollUpDistance"
	[infiniteScrollThrottle]="throttle"
	(scrolled)="onScrollDown()">
	<div class="row surah"
		*ngIf="!isLoading && arrAyat.length > 0; else loadingState">
		<div class="col-12 col-md-12 mb-4"
			*ngFor="let ayat of arrAyat">
			<app-ayat [ayat]="ayat"></app-ayat>
		</div>
	</div>
</div>

<div class="d-flex justify-content-center"
	*ngIf="playlist.length > 0">
	<div style="position: fixed;
	bottom: 0;
	z-index: 1050;
	background: #daa520;left:0">
		<mat-advanced-audio-player #advanced
			muted="muted"
			[playlist]="playlist"
			[autoPlay]="playerConfig.autoPlay"
			[expanded]="playerConfig.expanded"
			[displayTitle]="playerConfig.displayTitle"
			[displayPlaylist]="playerConfig.displayPlayList"
			[displayVolumeControls]="playerConfig.displayVolumeControls"
			[disablePositionSlider]="playerConfig.disablePositionSlider"
			(trackEnded)="onEnded()">
		</mat-advanced-audio-player>
	</div>
</div>

<ng-template #loadingState>
	<div class="m-5">loading</div>
</ng-template>
