$bg-color: #f0f0f0;
$text-color: #000000;
$black-primary: #322c2c;
$bg-white-primary: #ffffff;

$color-border: #616161;
$color-font: #616161;
$color-sidebar-list: #f1f1f1;
$color-sidebar-hover: #017a9f;

$color-link: #007bff;
$color-primary: #322c2c;
$color-secondary: #546e7a;
$color-success: #28a745;
$color-info: #17a2b8;
$color-warning: #ffc107;
$color-danger: #dc3545;
$color-light: #f8f9fa;
$color-dark: #343a40;
$color-yellow: #fbfaa4;
$color-pink: #ffd9d5;
$color-pink-light: #ffead2;

$colors: (
	link: $color-link,
	primary: $color-primary,
	secondary: $color-secondary,
	success: $color-success,
	info: $color-info,
	warning: $color-warning,
	danger: $color-danger,
	light: $color-light,
	dark: $color-dark,
	yellow: $color-yellow,
	pink: $color-pink,
	pink-light: $color-pink-light,
);

$color-primary-pallete: (
	50: #e5ebff,
	100: #cbd7ff,
	200: #b1c3ff,
	300: #99b1ff,
	400: #7f9dff,
	500: #6589ff,
	600: #4b75ff,
	700: #194fff,
	800: #0036e4,
	900: #002dbb,
	A100: #99b1ff,
	A200: #4b75ff,
	A400: #194fff,
	A700: #0036e4,
	contrast: (
		50: $color-dark,
		100: $color-dark,
		200: $color-dark,
		300: $color-dark,
		400: $color-dark,
		500: $color-light,
		600: $color-light,
		700: $color-light,
		800: $color-light,
		900: $color-light,
		A100: $color-dark,
		A200: $color-light,
		A400: $color-light,
		A700: $color-light,
	),
);

$opacities: (
	10: 0.1,
	20: 0.2,
	30: 0.3,
	40: 0.4,
	50: 0.5,
	60: 0.6,
	70: 0.7,
	80: 0.8,
	90: 0.9,
	100: 1,
);
