@import '~@angular/material/prebuilt-themes/indigo-pink.css';
@import 'bootstrap/bootstrap';
@import './customize-material.scss';

/* Main Styles */
@import 'abstracts/variables';

@import 'base/background';
@import 'base/border';
@import 'base/cursor';
@import 'base/font';
@import 'base/layout';
@import 'base/text';

@import 'component/input';
@import 'component/table';
@import 'component/button';

@import 'themes/theme';

html {
	background-color: $bg-white-primary;
	font-family: $font-family !important;
}
