<div class="d-flex justify-content-end font-32px">
	<p class="font-sbold"
		dir="ltr"
		lang="ar">
		{{ ayat.verseNumber }}
	</p>
	<p class="px-3">-</p>
	<p class="font-quran"
		dir="ltr"
		lang="ar">
		{{ ayat.textMadani }}
	</p>
</div>
<p class="font-16px">
	{{ ayat.translations.text }}
</p>
