@import '../abstracts/variables';

button {
	font-family: $font-family !important;
	line-height: 30px !important;
	outline: none !important;
}

.mat-icon-button {
	outline: none !important;
}

.mat-stroked-button.mat-primary,
.mat-flat-button.mat-primary {
	border-radius: 25px;
	border: 2px solid $color-primary !important;
	&:disabled {
		border: 1px solid currentColor !important;
	}
}

.btn-sm {
	font-size: $font-sm !important;
	line-height: 24px !important;
	min-width: 66px;
}
