/* TABLE */
.mat-table {
	width: 100%;
	margin-bottom: $spacing-xl;
	cursor: default;
	td.mat-cell,
	td.mat-footer-cell,
	th.mat-header-cell {
		&:first-child,
		&:last-child {
			padding: $spacing-md;
		}
	}
	thead tr {
		background: $color-primary;
		height: auto !important;
		th {
			color: #ffffff;
			font-weight: $font-weight-bold;
			font-size: $font-md;
			border-width: 1px;
			padding: $spacing-md;
		}
	}
	tbody tr {
		height: auto !important;
		td {
			color: $text-color;
			font-size: $font-md;
			padding: $spacing-md;
		}
	}
	&.table-sm {
		thead th,
		tbody td {
			padding: $spacing-sm;
		}
		thead th {
			font-size: $font-sm;
		}
		tbody td {
			font-size: $font-xs;
		}
	}
	&.table-bordered {
		thead th {
			border-bottom-width: 1px;
			border-color: $border-color;
		}
	}
	.bolder {
		th,
		td {
			font-weight: $font-weight-bold;
		}
	}
	.no-content {
		background: inherit;
		th {
			color: $text-color;
			font-size: $font-md !important;
			font-weight: $font-weight-light;
			padding: $spacing-md !important;
			text-align: center;
		}
	}
}
